<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    
    <title>Weather App</title>

   
</head>
<style>
  body {
    background-image: url("openweatherimage.png");
    background-size:cover;
    background-repeat: no-repeat;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px; 
}


.form{


text-align: center;

}

.input{
margin-top: 50px;
width: 15%;
height: 200%;
font-size: 20px;

}

.btn{
border-color: white;
margin-left: 20px;
margin-bottom: 50px;
font-size: 15px;
}
</style>
<body>
    <div class="form">
    <h1>Welcome to Weather App! Enter the city name to get weather details.</h1>
    <form action="" method="post">
      <input class = "input" type="text" name="city" placeholder="City Name">
      <button class = "btn" type="submit"> GO </button>  
    </div>

    </form>
</body>
</html>